@{
    ViewData["Title"] = "Home Page";
}

<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->

<!-- Number of Employees by Department -->
<div class="report-container">
    <h2>Number of Employees by Department</h2>
    <iframe title="number_of_employees_by_department" src="https://app.fabric.microsoft.com/view?r=eyJrIjoiMDg5ODgxNjktY2YzZi00YjJjLTgzNDktNTAxOTMwZThiM2M1IiwidCI6ImE3ZWQ5Y2FmLWQ3ZjctNDIyYi1hZGI2LTY3YjNlZDZjNWJkYyJ9" allowFullScreen="true"></iframe>
</div>

<!-- Average Salary by Department -->
<div class="report-container">
    <h2>Average Salary by Department</h2>
    <iframe title="average_salary_by_department" width="1024" height="1060" src="https://app.fabric.microsoft.com/view?r=eyJrIjoiYTlkYmRiM2ItNDMwZi00NTI4LWFjNTMtZDg0NzcwZDM5ZDcwIiwidCI6ImE3ZWQ5Y2FmLWQ3ZjctNDIyYi1hZGI2LTY3YjNlZDZjNWJkYyJ9" frameborder="0" allowFullScreen="true"></iframe>

<!-- Total Salary by Department -->
<div class="report-container">
    <h2>Total Salary by Department</h2>
    <iframe title="total_payroll_by_department" width="1024" height="1060" src="https://app.fabric.microsoft.com/view?r=eyJrIjoiODllZDVhY2ItODQ3ZC00Y2I0LWE1OWUtYWZlZTg4NDJiYTY0IiwidCI6ImE3ZWQ5Y2FmLWQ3ZjctNDIyYi1hZGI2LTY3YjNlZDZjNWJkYyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<!-- Hiring Trend (Per Month) -->
<div class="report-container">
    <h2>Hiring Trend (Per Month)</h2>
    <iframe title="Number_of_hired_employees_per_month" width="1024" height="1060" src="https://app.fabric.microsoft.com/view?r=eyJrIjoiY2ZmOWMyNWEtMGQ1Ni00MTBlLTgxNmUtYjNlZWZjNjQxYjQ5IiwidCI6ImE3ZWQ5Y2FmLWQ3ZjctNDIyYi1hZGI2LTY3YjNlZDZjNWJkYyJ9" frameborder="0" allowFullScreen="true"></iframe>

<!-- Salary Distribution -->
<div class="report-container">
    <h2>Salary Distribution</h2>
    <iframe title="salary_distribution" width="1024" height="1060" src="https://app.fabric.microsoft.com/view?r=eyJrIjoiNWVjYTkyNzItNGUyMi00MjZiLTkzODAtMmRlYTNjOWE4ZjVkIiwidCI6ImE3ZWQ5Y2FmLWQ3ZjctNDIyYi1hZGI2LTY3YjNlZDZjNWJkYyJ9" frameborder="0" allowFullScreen="true"></iframe>

<!-- Attendance by Status -->
<div class="report-container">
    <h2>Attendance by Department and Status</h2>
    <iframe title="attendance_by_department_and_status" width="1024" height="1060" src="https://app.fabric.microsoft.com/view?r=eyJrIjoiNDVkZDUyNDAtYjJiMy00YTNlLTk0M2MtMWVlMmE3YzdmYzhlIiwidCI6ImE3ZWQ5Y2FmLWQ3ZjctNDIyYi1hZGI2LTY3YjNlZDZjNWJkYyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<!-- Salary vs Performance -->
<div class="report-container">
    <h2>Department Salary by Rating</h2>
    <iframe title="salary_by_performance" width="1024" height="1060" src="https://app.fabric.microsoft.com/view?r=eyJrIjoiOGM3NmVlZTUtNjZhMS00NGRiLWI5ZTQtNWMwNjY2NmZiNTRmIiwidCI6ImE3ZWQ5Y2FmLWQ3ZjctNDIyYi1hZGI2LTY3YjNlZDZjNWJkYyJ9" frameborder="0" allowFullScreen="true"></iframe>

<!-- Average New Salary and Average Old Salary by Month -->
<div class="report-container">
    <h2>Average New Salary and Average Old Salary by Month</h2>
    <iframe title="average_of_new_salary_and_average_old_salary_by_department" width="1024" height="1060" src="https://app.fabric.microsoft.com/view?r=eyJrIjoiNDZiMzU4NTYtOWM5YS00MzVjLWFiNWEtNTk0OTAxNjhmNTZhIiwidCI6ImE3ZWQ5Y2FmLWQ3ZjctNDIyYi1hZGI2LTY3YjNlZDZjNWJkYyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>